.DS_Store
/BlueDevil/node_modules
/node_modules
package-lock.json
BlueDevil/.env
BlueDevil/.env
BlueDevil/.env
BlueDevil/.env
BlueDevil/.env
BlueDevil/backend/.env
BlueDevil/.env
/BlueDevil/backend/logs
